[2012-09-12 21:13] titarenko opened #9 "Acceptance Tests"
Create acceptance tests using browser automation to ensure each and every client is fully working.

[2013-06-06 16:30] titarenko opened #18 "Implement Loggly Client"
http://loggly.com/support/advanced/oauth/

[2013-06-06 16:32] titarenko opened #19 "Documentation"
Write at least basic documentation on internals of OAuth2 library implementation.

[2013-08-10 23:37] loki2302 opened #28 "Google client's GetUserInfo throws ArgumentNullException"
I'm trying to use OAuth2 0.8.25 (the latest one in NuGet). Here's my GoogleClient configuration:

    <add clientType="GoogleClient"
         enabled="true"
         clientId="GOODCLIENTIDHERE"
         clientSecret="GOODCLIENTSECRETHERE"
         scope="https://www.googleapis.com/auth/userinfo.email"
         redirectUri="~/Home/AuthCallback" />

Here's where it fails:

    var userInfo = googleC

[2013-09-12 16:05] agibalov opened #35 "Use-case - service layer wants access token, front-end is responsible for providing it"
First of all, guys you build the great thing. I really like OAuth2 and its idea of being as simple and easy to use as possible. Thank you for this.

I'd like to propose some changes which I believe won't make the entire solution more complicated, but will enable few other use-cases.

As a distributed web-solution developer, I want my service layer to be designed as a standalone web API. This API w

[2014-01-04 10:20] AndreiPiatrou opened #41 "Instagram client authorize exception"
As said in http://instagram.com/developer/authentication/ we have to use POST request instead GET. As I see in your RequestFactoryExtensions.CreateRequest creates only GET requests. Can you adjust to use POST requests to Instagram access_token requests?
Sorry, the problem is in getUserInfo endpoint. It is incorrect. And this request needs to be invoked with url parameter "acces_token". Can you fix

[2014-01-14 12:56] kpocza opened #42 "Facebook and Windows Live profile photo"
In case of Windows Live client the profile photo is not valid. The avatar photo Url points to a target where there is no photo.

I see some complex Url combination logic in WindowsLiveClient.cs. Will it work for users who integrated their Windows 8, 8.1 with their live account?

You should use something like that: https://apis.live.net/v5.0/{0}/picture
where {0} is the userId.

Related documentati

[2014-01-30 11:20] debabratapaul opened #43 "Provide refresh Token for Google"
I want to fetch refresh token along with access token. So it would have been better if a method to fetch refresh token was provided.

[2014-02-25 16:51] Cepega opened #45 "Получение информации о пользователе только по Access token"
Хотелось бы иметь возможность получаться информацию о пользователе только при помощи Access token. Например, если я использую библиотеку при создании API для мобильного приложения. В самом приложении происходит авторизация, где получаем access token.
Сейчас получить данные можно только через QueryString.

-----
I would like to be able to obtain information about the user only through Access token.

[2014-08-01 07:08] neurospeech opened #53 "C# 5.0 Async API"
This is new feature request to implement async await pattern for Client token authorization.

[2014-09-24 16:24] jzielke opened #54 "Remove System.Web Dependency"
First, thanks for the great implementation of OAuth2.  First package I found that was easy to reuse for different providers.

Is there a way to remove the System.Web Dependency in UriUtility.cs.  Just wondering if anyone has done it already?

I would like to use this with Nancy if possible.  Works great in our MVC website, but need it for a Nancy installation.

[2014-12-08 17:39] niemyjski opened #58 "Issue with updating to the latest version of RestSharp"
There is an issue when updating to 105 of restsharp ( https://github.com/restsharp/RestSharp/issues/595 ). I think the only thing that needs to be done is the code needs to pull the new restsharp package and recompile.

[2015-01-10 19:14] niemyjski commented on #58
an we update this? This is breaking me right now..

[2015-01-11 03:27] niemyjski opened #60 "Store extra oauth user data as extended data on the userinfo object"
It seems like we are getting a lot of valuable information returned by our user info responses and we throw it away like a list of all their email addresses, sex/age and much more... It would be nice if this was shredded and anything that we didn't know about was placed in key value pairs on a userinfo data property.

I'd be more than happy to pair on this functionally..

[2015-01-11 03:28] ejsmith commented on #60
+1

[2015-01-30 08:46] ArtsevDmitry commented on #60
For example, need phone, but this property not presented in UserInfo :)

[2015-02-19 04:22] samppis commented on #58
I'm experiencing this issue as well and it would be great to have support for the lastest RestSharp. I'm now having a lot of compatibility issues with other libraries that require a later version of it.

[2015-02-19 04:30] niemyjski commented on #58
Yea same here

[2015-02-19 07:36] titarenko commented on #58
Hi guys,

I'm very sorry for such long delay in maintenance of this library (I haven't touched it during about 1 year). I'm not Windows user at the moment, so I have some obstacles with testing before releasing code. But I will try to get Windows PC for a week to merge pull requests and resolve issues.

[2015-02-19 08:52] samppis commented on #58
Thanks! That would be much appreaciated :)

[2015-02-23 10:47] jphellemons commented on #58
Would be nice to have this fix in a new release of the nuget package! :+1:

[2015-03-03 21:20] niemyjski commented on #58
+1

[2015-03-13 01:16] niemyjski opened #62 "GitHub client's GetUserInfo throws multiple exceptions."
I'm getting two exceptions lately with the GitHub GetUserInfo method:

[code]

and

[code]

[2015-03-19 17:19] ProNotion opened #63 "How to return the user to the original url"
Because the redirect url is preconfigured how can we ensure the user user is redirected back to their original url? Is the only way to store something in session prior to the login?

Aside from this thanks so much for sharing as I've had a nightmare trying to get a working OAuth2 solution to fit into an existing app. I've written a Yahoo provider also now so will send a pull request when I'm finis

[2015-04-08 01:48] niemyjski commented on #62
I added additional logging on my end and I hope to track this down.

[2015-04-21 10:26] mikkeljohnsen opened #65 "Why can't I do this"
<pre>
			var cfg = new OAuth2.Configuration.RuntimeClientConfiguration {
				ClientId = "......",
				ClientSecret = "......"
			};
			var auth = new OAuth2.Client.OAuth2Client (cfg);

			return auth.GetToken ("https://api..../accesstoken");
</pre>

Please someone make a simple example, that don't involve config files and abstract class ?

[2015-04-23 18:02] niemyjski commented on #62
I was able to track this down and fix this in the following pull request: https://github.com/titarenko/OAuth2/pull/66

[2015-04-23 18:03] niemyjski commented on #53
+1

[2015-04-24 10:16] ProNotion opened #67 "Allow custom clients to be discovered"
Currently it is not possible to add your own custom clients from your own assembly. This means that unless it is an existing client native to this project you have to create a custom build of the project. I've forked the project and made a small change to allow discovery of clients in other assemblies and will initiate a pull request shortly for consideration.

Thanks, Simon

[2015-04-24 10:24] ProNotion commented on #67
Pull request #68

[2015-04-24 12:33] niemyjski opened #69 "Treat all user profile fields as optional"
We should assume that every client field is optional so bugs like: https://github.com/titarenko/OAuth2/pull/66#issuecomment-95689956 don't occur.

[2015-04-30 05:59] iqbalsinghkhanna commented on #58
Hi,
I am having this issue

Method not found: 'Void RestSharp.RestClient.set_BaseUrl(System.String)'.

Please let me know how i can fix it.

[2015-04-30 11:33] niemyjski commented on #58
You need to downgrade to RestSharp 104.

[2015-04-30 11:33] niemyjski commented on #58
@titarenko, can I please get read/write access to github and nuget.

[2015-04-30 13:44] titarenko commented on #58
Hi @niemyjski

Thanks for willingness to put efforts on maintenance! I will give you access.

P. S. Unfortunately, no luck with Windows for me, I'm still without environment to write C# code for .NET, and latest pull request merge ended up with broken tests on CI, so I was not able to release it to NuGet.

[2015-04-30 13:46] titarenko commented on #58
Added you as a collaborator, so you now have push rights. Tell me your NuGet username and I will add you as owner.

[2015-04-30 14:01] niemyjski commented on #58
No problem, I'll help where I can. It's niemyjski and my email can be found on my github profile (Is there anything I need to do for the CI)? Those errors seem really goofy. Have you tried using xamerian studio or the recently released visual studio code for osx on osx? It's what I use on my mac and it works great.

[2015-05-13 11:56] niemyjski commented on #58
@titarenko  for some reason I couldn't be invited to nuget, can you please try again,

[2015-05-18 02:04] niemyjski commented on #67
Thanks for the pull request, I've added a comment on the issue.

[2015-06-02 15:26] niemyjski opened #70 "Fix broken unit tests"

[2015-06-03 14:29] Avaq commented on #67
:+1: Would use.

[2015-06-03 14:31] niemyjski commented on #67
@ProNotion could you take a look at my comment.. Also, is there any chance you could help me fix the unit tests so I can push a new build.

[2015-06-03 14:38] ProNotion commented on #67
Sorry I missed this previously - will check and respond to your comment on the PR now.

[2015-06-03 14:52] ProNotion commented on #67
Did I cause all of those tests to fail?

[2015-06-03 14:53] niemyjski commented on #67
Nope, they were failing before I was here not sure what is causing them but some help would be greatly appreciated as I won't be able to look into them until I have a free weekend :(.

[2015-06-03 14:55] ProNotion commented on #67
I will see what I can do for you.

[2015-06-08 15:02] niemyjski commented on #67
I've merged this pull request. We just need to get the unit tests passing before we can release a new build to nuget.

[2015-06-08 15:02] #67 closed

[2015-06-08 15:02] niemyjski commented on #70
@ProNotion Can you help with this?

[2015-06-08 15:03] niemyjski commented on #65
Are you just trying to generically talk to an end point?

[2015-06-08 15:07] niemyjski commented on #63
I only use this on my server side end point to validate a token/auth my api. We have a angular app that uses https://github.com/sahat/satellizer to request an auth code via our client side app. You can take a look at all of our code on how we handle this [here](https://github.com/exceptionless/Exceptionless.UI) and [here](https://github.com/exceptionless/Exceptionless/blob/master/Source/Api/Contro

[2015-06-08 15:07] #62 closed

[2015-06-08 15:08] niemyjski commented on #58
This will be fixed once we get the unit tests fixed in #70.

[2015-06-08 15:08] #58 closed

[2015-06-08 15:13] niemyjski commented on #54
Would you please do a pull request for this. I'd love to see this as it would make it easier to port this library to dnx

[2015-06-08 15:13] niemyjski commented on #53
Could you please do a pull request for this!

[2015-06-08 15:14] niemyjski commented on #45
Could you please translate this to english :).

[2015-06-08 15:15] niemyjski commented on #43
This has been merged in. Can you please see if it exists in the latest release on nuget. If it doesn't it will be included in the next release.

[2015-06-08 15:15] #43 closed

[2015-06-08 15:16] niemyjski commented on #42
Could you please provide a pull request for this.

[2015-06-08 15:16] niemyjski commented on #41
Can you please submit a pull request for this.

[2015-06-08 15:18] niemyjski commented on #35
I think that we could make this easier to use but I also think it's up to the client side tech that you are using to provide a token. In this case mvc for the redirect where as this library can work anywhere.

[2015-06-08 15:19] niemyjski commented on #28
Yes, this is logged in a second issue. It has to do with not using SafeGet. Would you mind submitting a pull request for this?

[2015-06-08 15:20] niemyjski commented on #28
I'm closing this as a duplicate of #69.

[2015-06-08 15:20] #28 closed

[2015-06-08 20:41] ProNotion commented on #70
I started looking at it but didn't manage to get anywhere with it. I am away for the remainder of this week but if I get the chance I will see if I can look it while I'm away unless anyone else gets to it before me.

[2015-06-15 12:38] knightmeister opened #73 "Bugs when accessing Google"
I created a new Google OAuth Credential, set the client ID and secret in the web.config file.

When I run the example application, I get an InvalidCastException on the following line:

            AccessToken = (string) ParseTokenResponse(response.Content, AccessTokenKey);

Additional information: Unable to cast object of type 'Newtonsoft.Json.Linq.JValue' to type 'System.String'.

The OAuth respo

[2015-06-15 13:56] ProNotion commented on #70
Pull request coming with all tests passing but I need a sanity check on this please as even though they are passing I am not 100% sure that the changes I have made are appropriate.

[2015-06-15 14:42] niemyjski commented on #70
Thanks for the pull request. I made some comments on the code.

[2015-06-16 22:46] niemyjski commented on #73
Nice find. We'll try and fix this in #70

[2015-06-16 23:05] knightmeister commented on #73
Fantastic. I have branched Oauth2 if I get a chance to fix it myself I will
and send a PR.

On Wednesday, 17 June 2015, Blake Niemyjski <notifications@github.com>
wrote:

--
Sent from my phone - please excuse any terseness

[2015-06-16 23:46] #70 closed

[2015-06-16 23:46] #73 closed

[2015-06-16 23:47] niemyjski commented on #70
@ProNotion Thanks for taking the time to due a pull request. It put me in the right direction. I closed it because I've made some changes that I want to get reviewed. Can you please review my latest commit (and read the comment.

[2015-06-16 23:48] niemyjski commented on #73
@knightmeister  I closed it because I've made some changes that I want to get reviewed, but I think fixes this issue. Can you please review my latest commit (and read the comment.

[2015-06-16 23:50] niemyjski commented on #70
@titarenko, Can you email me info for the build server.. I'd like to be able to trigger a build etc..

[2015-06-16 23:54] knightmeister commented on #73
@niemyjski The diff looks like it will address the first issue I raised, I will test it tonight and let you know for sure if it closes that. The other part of the issue is that OAuth2 expects a refresh_token to be returned by Google (in Ouath2Client)

[code]

I went and did some reading at Google (https://developers.google.com/identity/protocols/OAuth2WebServer) and Google will not return the refr

[2015-06-16 23:57] niemyjski commented on #73
We'll I changed it to make it optional because I don't think those fields
will be populated by everyone (thoughts on this). You could create a new
issue if you'd like :) But I don't see people requesting offline access. I
wouldn't use this library if it forced me to request above normal
permissions (as I won't use any service that forces me to give them my
friends list etc..). If you think this is

[2015-06-17 00:03] niemyjski commented on #73
Please let me know how testing goes :).

[2015-06-17 00:06] knightmeister commented on #73
@niemyjski Sure, will do. I'll be home in about 10 hours and I'll test it then.

[2015-06-17 00:08] niemyjski commented on #70
@titarenko Can you trigger a clean build.. It looks like there is an issue with the build server.. My changes build locally via msbuild and vs.

[2015-06-18 11:12] knightmeister commented on #73
@niemyjski Sorry for being a day late, but yes I can confirm this works now without issue.

[2015-06-18 13:15] niemyjski commented on #73
@knightmeister Sweet thanks! Now I just need to get the build passing and release a new package :)

[2015-06-22 09:08] mikkeljohnsen commented on #65
I enden up not using this.

[2015-06-22 09:08] #65 closed

[2015-06-22 10:57] titarenko commented on #65
Hi, @mikkeljohnsen

Nothing prevents you from doing something like
[code]
where `MyClientConfiguration` is implementation of corresponding interface which is NOT using config files, but is taking your credentials from other preferred place (for example, it can be simply hardcoded or whatever you want).

P.S. Sorry for late response, and I hope you are satisfied with alternative solution.

[2015-06-24 08:05] ProNotion opened #75 "How to handle cancelled login or access denied"
How are people handling the scenario where someone chooses a login service, gets redirected to the service login page and then decides to cancel the process. Currently an exception of type 'OAuth2.Client.UnexpectedResponseException' is thrown but that doesn't really handle the situation.

Thanks

[2015-06-25 12:45] titarenko commented on #70
@niemyjski ok, I will try to do this at evening (in 5-10 hours, currently I have no access there).

[2015-06-26 19:05] titarenko commented on #70
Manually triggered the build: it fails with error `Steps\CommonSteps.cs(4, 7): error CS0246: The type or namespace name 'FluentAssertions' could not be found (are you missing a using directive or an assembly reference?)`

[2015-06-30 12:25] ProNotion commented on #75
I've started work on some better handling of errors based on [RFC 6749](https://tools.ietf.org/html/rfc6749#section-4.1.2.1) and extended the ```UnexpectedResponseException``` to feed this information back if it exists. I will submit a pull request for this once I think I have it working as I think it should. I have a live site with a custom IClient (Yahoo) that I need this for now so that should

[2015-06-30 14:25] niemyjski commented on #75
hmm, what would this fall under for error type? I'm thinking that maybe we should have an exception type for each one of those scenaros?

[2015-06-30 14:42] ProNotion commented on #75
Sure, I can implement it that way if you'd like. Currently I have extended the ```UnexpectedResponseException``` class to have ```ErrorCode``` and ```ErrorDescription``` proeprties with an overloaded constructor like ```public UnexpectedResponseException(string fieldName, string errorCode, string errorDescription)``` but that's still pretty generic.

[2015-06-30 16:37] ProNotion opened #76 "Adding parameter to UserInfoServiceEndPoint"
I am trying to get a Yahoo client working and they make you jump through hoops to get at the profile.

[code]

The value I need for {guid} should be returned in the Request token response but how can I can get that value at this point? I think maybe I've been looking at this too long?

Thanks, Simon

[2015-07-09 00:16] niemyjski commented on #76
I think you can get this by overriding ParseUserInfo method and parsing it out. Were you able to do this?

[2015-07-09 00:16] niemyjski commented on #75
What do you think? Seems like we use UnexpectedResponseException for a lot of things

[2015-07-09 10:41] ProNotion commented on #75
I'm inclined to agree with you as it makes for easier handling of each scenario and allows us to populate the exceptions with the relevant information from each of the responses.

[2015-07-09 14:17] niemyjski commented on #75
I think we should do it :) @titarenko what do you think?

[2015-07-13 14:02] titarenko commented on #75
Essentially, when I added class `UnexpectedResponseException` I was thinking about really unexpected response, like something really unknown and unexpected. I think we can add something more specific for handling of "expected" cases, when we know that this thing can happen.

[2015-07-13 14:53] niemyjski commented on #75
@titarenko Thanks for your response, we are all in that boat :). I'm just trying to help where I can :). (P.S., I need access to the build server :)).

[2015-07-16 15:08] jordisan commented on #63
@ProNotion , what we are doing is encoding the original URL in the `state` parameter before the call, and then read it after the callback and redirect the browser to the original URL

[2015-07-16 15:12] jordisan commented on #60
We are using your fantastic library , but now we need to get additional user info from LinkedIn; concretely, the country of the user (inside location): https://developer.linkedin.com/docs/fields/basic-profile

Note that location is a structured data item, so maybe key-value pairs is not the best solution.

What do you recommend us? Extending your library somehow? Thanks

[2015-07-16 16:37] niemyjski commented on #60
Previously in a different library, we always parsed the data into key value pairs. Currently this functionality isn't available (myself or someone needs to build it) but we should have a dictionary where we can return all the extended data items.

[2015-07-16 16:38] niemyjski commented on #60
In this case you could parse it out into location.name = value or you could store it as json?

[2015-07-17 08:38] jordisan commented on #60
Maybe we could add a `AllData` member to `UserInfo` class... (maybe XDocument or JObject); and then store there all the user data coming from the server

[2015-07-17 14:59] ejsmith commented on #60
I would think you would want to store the values in a dictionary and not use something that is transport specific like jobject and xdoc.

[2015-07-17 15:22] jordisan commented on #60
Sure, @ejsmith ... I was just thinking about a quick-and-dirty solution :)

[2015-08-04 13:59] black-snow commented on #19
Where do I find the documentation?

[2015-08-04 14:14] titarenko commented on #19
Do you want to enhance or use this library? If latter, then please read `README.md`.

[2015-08-04 14:17] black-snow commented on #19
Hi,

I was planning to use this lib to authorize with a bunch of different services such as Google Drive and Dropbox from my .net WPF application. Sadly I don't know how to use/extends your project (seems to be tailored to MVC web apps, right?).

[2015-08-04 14:20] titarenko commented on #19
Yes, initially it was made for web applications.

[2015-08-04 14:22] black-snow commented on #19
Do you know of any other project that could fit my needs? I'm about to write my own OAuth2 code flow using RestSharp since I couldn't find any read2go solution that satisfied me.

Thanks in advance.

[2015-08-05 08:30] titarenko commented on #19
Sorry, I haven't worked on desktop applications where OAuth2 authentication was required, so I can't give any useful advice here.

[2015-08-05 08:32] titarenko commented on #19
BTW, if you will find good solution for this, please post link here, I would be glad to add it as notice to docs.

[2015-08-06 08:18] black-snow commented on #19
I will but amazingly it looks pretty bad.

[2015-08-06 16:27] niemyjski commented on #73
@titarenko can you give me access to teamcity so I can deploy a release.

[2015-08-07 07:48] titarenko commented on #73
I tried yesterday, but unfortunately, I haven't found the way to add new user under my account. BTW, build is failing. It seems that acceptance tests project is missing reference to FluentAssertions.

[2015-08-07 12:45] vinothrao opened #77 "how to get success status code after successful login"
how to get success status code after successful login? Is there any success code will be returned to the redirect uri. If anything how to get?

[2015-08-07 13:28] niemyjski commented on #73
hmm, I'll try and take a look they were passing the other day. Any chance you can change the password and email it to me and we can share it?

[2015-08-09 15:48] niemyjski commented on #77
I'm not sure, you'd need to step through the code and take a look.

[2015-08-13 00:24] PedroC88 opened #78 "Use Sample"
Is it possible to have a use sample? I'm new to the whole **web** development and I'm doing a personal project. I have already installed the package and modified the web.config, but I'm lost in how to implement it.

If I'm instructed on how to use it, I wouldn't mind creating some documentation for future references and posting it here.

[2015-08-13 15:53] niemyjski commented on #78
Here is a real world use case where we use this library: https://github.com/exceptionless/Exceptionless/blob/master/Source/Api/Controllers/AuthController.cs

[2015-11-02 17:17] jaguire opened #79 "Are there any plans for a Yahoo endpoint?"
If not, mind if I play with creating one?

[2015-11-02 19:36] ProNotion commented on #79
I have one that I'm using but it's not working as it should at present because it asks for approval everytime you login which I'm sure is not right. Happy to share if it will help reach a better end result.

[2015-11-03 12:41] titarenko commented on #79
@jaredmcguire @ProNotion Sure, pull-requests are always welcome!

[2015-11-03 13:19] ProNotion commented on #79
I was kind of hoping for feedback on it if I am honest as another pair of eyes will more likely spot what I've done wrong and why users are asked to approve for every login. I will try and get it up this afternoon. Should I still send a PR for feedback?

[2015-12-17 20:10] hawk-i- commented on #77
in OAuth2.Client.OAuth2Client.cs there is a method QueryAccessToken method at line 192. in this method at line 205 a ExecuteAndVerify call is made to IRestClient object. if there is an error this method throws exception with response object. you can use this response object to get exact http error code and perform desired error handling and if it doesn't throw any exception then you can assume tha

[2016-02-26 15:20] marpstar commented on #75
We too had this issue, where when the user clicks cancel while giving their credentials to the third party provider. I've taken a similar approach to the one @ProNotion has outlined, reusing the `UnexpectedResponseException`.  We don't particularly mind doing that, but it would be nice to be able to distinguish between that scenario and other "unexpected scenarios". I could work toward a PR if peo

[2016-02-26 17:02] niemyjski commented on #75
@marpstar that would be awesome :)

[2016-03-20 14:00] niemyjski commented on #79
Yes! Having any support for yahoo is better than none.

[2016-06-26 09:00] davvit opened #83 "Dll version error on Clone > Build > Run VS15"
`"Could not load file or assembly 'Autofac, Version=**2.6.3.862**, Culture=neutral, PublicKeyToken=17863af14b0044da' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)"

=== Pre-bind state information ===
LOG: DisplayName = Autofac, Version=2.6.3.862, Culture=neutral, PublicKeyToken=17863af14b0044da
 (F

[2016-06-26 09:08] davvit commented on #83
In Package Manger terminal i did
`PM> Install-Package Autofac -Version 2.6.3.862`

followed by Clean solution > rebuild > Debug OAuth2.Example

i get the following error

[2016-06-27 12:50] niemyjski commented on #83
I think the dependencies need to be updated. Would you mind submitting a pr for this?

[2016-06-27 12:51] niemyjski commented on #83
I'm going to be adding support for netstandard at some point.

[2016-06-30 05:23] davvit commented on #83
Made a pull request. #84
Learned a lot about git while doing this. Thanks for asking me to do this.

[2016-07-01 15:41] titarenko commented on #83
Hi @davvit ! Thank you for contribution, your PR is merged and build is successful, probably, we can close this issue, can't we?

[2016-07-01 15:57] davvit commented on #83
Yes we can close it.
On Jul 1, 2016 10:41 AM, "Constantin Titarenko" <notifications@github.com>
wrote:

[2016-07-01 18:24] #83 closed

[2016-07-20 11:10] pootzko opened #85 "Get twitter user handle (username)"
Hi,

not sure what you think would be the best approach for this, but it would be cool if the lib supported parsing of twitter username.

What I did currently is I made a custom TwitterClient class like this:

[code]
Which I then use in the `AccountController` to handle twitter registration through oauth. I don't see us using the FirstName or the LastName at all so I simply set the screen_name as

[2016-07-20 11:12] niemyjski commented on #85
I'd rather not fill in these properties as we could change them later.  I think the best approach would be to do this: https://github.com/titarenko/OAuth2/issues/60 Is there any chance you'd be willing to take a stab at this?

[2016-07-20 11:16] pootzko commented on #85
Sounds good! I'll take a look into this within the next week (I'm not really familiar with the whole codebase, just what I needed ATM) and I'll make a PR then if everything goes well.

[2016-07-27 07:28] bennidhamma opened #86 "facebook /oauth/access_token request does not return JSON"
So I get a JSON parse error when I'm using OAuth2. Any idea what might be going on?

[2016-07-27 11:24] niemyjski commented on #86
I'm not sure, have you tried seeing what scopes you are requesting?

[2016-07-29 03:22] bennidhamma commented on #86
yea. i hacked in '2.7' into the resource url to force the newer version and
that seemed to work.

On Wed, Jul 27, 2016 at 4:24 AM Blake Niemyjski <notifications@github.com>
wrote:

[2016-08-30 08:38] amanh47 opened #88 "https://github.com/niemyjski"
Hi Dear,
i have create NetTier solution with webservice and webprojectApp now i can access data from my database using sqlClient but when i use Webservice to get my data i faced the following Problem....
can you please help me.

Exception Text : "An exception of type 'System.Net.WebException' occurred in CORN.Data.WebServiceClient.dll but was not handled in user code.
Additional information: The o

[2016-08-30 16:41] titarenko commented on #88
Hi @amanh47

Is this issue related to OAuth library?

[2016-08-30 17:09] niemyjski commented on #88
This is not related to this project.

[2016-08-30 17:09] #88 closed

[2016-09-03 17:34] skasturi commented on #79
I added Yahoo client

[2016-09-03 18:16] titarenko commented on #79
@skasturi added it in PR #89, I'm closing this issue - reopen if there are any problems

[2016-09-03 18:16] #79 closed

[2016-09-03 18:54] skasturi commented on #9
@titarenko Are you working on this now? I am wondering when we would be able to push a release version of this library.

[2016-09-03 18:55] skasturi opened #90 "OAuth2 store"
Do we have in vision to provide a store for saving and retrieving user tokens? We should probably have interface that does this refresh the tokens as required.

[2016-09-04 21:10] titarenko commented on #9
No, currently I do not work on this (unfortunately, I do not have spare time to proceed with this task). Regarding release version: 0.8 de-facto is a release version (formally, I wanted to finalize acceptance tests before changing version to 1.0).

[2016-09-21 11:54] elfico opened #91 "IEnumerable for IClient"
Hello. I installed the Package via nugets and followed the example you have in the readme. But the code is throwing error since IClient is a type of IEnumerable but you example says to use it as

var uri = authorizationRoot.Clients[0].GetLoginLinkUri();

How can this be overcome?

[2016-09-21 15:56] titarenko commented on #91
authorizationRoot.First().GetLoginLinkUri();

[2016-09-22 09:29] elfico commented on #91
Thanks. I was able to cast it to a list and use it.
The access token that is return is shown in my URL. Can this be hidden?
Sorry if I am asking too many questions, I am new to Oauth2.

[2016-09-22 23:20] thdotnet opened #92 "custom oauth2 provider"
Besides the list that is on README, is it possible to use this library with custom oauth2 provider?

[2016-09-23 09:30] titarenko commented on #92
Sure, for example just subclass `OAuth2Client` and use it then (but in this case library would help you to do less boilerplate, and won't work as "just add some water" framework).

[2016-09-26 16:53] elfico commented on #91
Hi @titarenko , please I am having an issue with the plugin. I integrated it and it worked well, but sometimes, when I tried to get the authorization, it shows error 404. Please what can iI do about it?

[2016-10-13 19:13] skasturi commented on #91
404 usually means your routes are not setup correctly. When you run OAuth2 Test project you should see a page with the list of providers specified in the Web.Config.

[2016-11-08 13:52] tgiachi opened #93 "Load configuration from database"
Hi!,
Is possibile create configuration at runtime? For example: read configuration from database and create Configuration?

Thanks you

[2016-11-09 19:22] tgiachi opened #94 "Refresh token?"
Is possible to take refresh token?

[2016-11-14 08:15] titarenko commented on #93
Hi!

Sure, you can create authorization root using [this constructor](https://github.com/titarenko/OAuth2/blob/master/OAuth2/AuthorizationRoot.cs#L36) providing it with custom implementation of `IConfigurationManager`, or you can use client implementations directly, creating instances using [for example, this constructor](https://github.com/titarenko/OAuth2/blob/master/OAuth2/Client/Impl/Instagram

[2016-11-14 08:20] titarenko commented on #94
Hi,

[According to interface of base class for client](https://github.com/titarenko/OAuth2/blob/master/OAuth2/Client/OAuth2Client.cs#L49), yes, you can, but whether you will find `null` or refresh token value there depends on certain client implementation.

[2016-11-17 15:39] weihangChen commented on #60
I am doing the same thing, I think the quickest solution is to change the

[code]

to protected in AuthorizationRoot, then we can subclass AuthorizationRoot, overriding the

[code]

we can add our custom types to the web.config
<add clientType="GoogleClient" clientCustomType ="OAuth2.Example.Models.MyGoogleClient"........>

then use reflection to create our own clientimpl instance

[2016-11-17 16:51] weihangChen commented on #60
I got this working in a quick way, without modifying existing API

[code]

[2016-11-21 12:02] niemyjski commented on #60
I don't see where you are storing the extra info? I think we should add a dictionary on the user info and stick it in there.  Would anyone like to take a stab at this?

[2016-11-21 12:03] niemyjski commented on #93
Please let us know if you have any more questions

[2016-11-21 12:03] #93 closed

[2016-11-21 12:03] niemyjski commented on #92
Please let us know if you have any questions :)

[2016-11-21 12:03] #92 closed

[2016-11-21 12:03] niemyjski commented on #91
@elfico if you are still seeing this issue, would you mind opening a new issue.

[2016-11-21 12:03] #91 closed

[2016-11-21 12:04] niemyjski commented on #85
@pootzko were you able to take a look into this?

[2016-11-21 12:04] niemyjski commented on #53
I'm closing this as we know we want this.. if someone could please create a pr for this, it would be greatly appreciated.

[2016-11-21 12:04] #53 closed

[2016-11-21 12:05] niemyjski commented on #42
@kpocza could you please create a pr for this.

[2016-11-21 12:08] niemyjski commented on #45
@titarenko was this ever implemented?

[2016-11-21 12:09] niemyjski commented on #19
If someone would like to create a pr for this, we would greatly appreciate it. Closing this to clean up issues we all want or know needs to get done.

[2016-11-21 12:09] #19 closed

[2016-11-21 12:10] niemyjski commented on #18
@titarenko  I'm going to close this, someone can submit a pr for this if they need it. Also you should check out (https://github.com/exceptionless/Exceptionless) ;)

[2016-11-21 12:10] #18 closed

[2016-11-21 12:11] #78 closed

[2016-11-21 12:12] niemyjski commented on #90
I'm not sure this is in the scope of this library. I think we should keep this as focused as possible. The store can change and I don't think is the responsibility of this library. I'm going to close this, but we can reopen it if our minds change.

[2016-11-21 12:12] #90 closed

[2016-11-21 12:13] niemyjski commented on #86
@bennidhamma can you create a pr for this, it would be greatly appreciated.

[2016-11-21 12:13] niemyjski commented on #54
@jzielke We need to remove this when we port to .net core. Would you mind looking into this and submit a pr for this. In the mean time, I'm closing this issue.

[2016-11-21 12:13] #54 closed

[2016-11-21 12:14] niemyjski commented on #63
What's the consensus on this issue?

[2016-11-21 12:15] niemyjski commented on #41
@AndreyPetrov1991 Are you still seeing this issue? Can you submit a pr for this?

[2016-11-21 12:15] niemyjski commented on #75
@marpstar were you able to create a pr for this?

[2016-11-21 12:16] niemyjski commented on #76
I think you can get this by overriding ParseUserInfo method and parsing it out. Were you able to do this?

[2016-11-21 12:16] #76 closed

[2016-11-21 13:47] pootzko commented on #85
Hi,

sorry, I didn't have the time unfortunately. I still might if it doesn't get resolved by someone else in the mean time.

[2016-11-21 14:30] hawk-i- commented on #77
i think the fact that it throws exception when somethinng goes off the rails should be enough

[2016-11-21 15:32] titarenko commented on #77
@hawk-i- when your user did login, for example using her Google account, Google will redirect she back to your app (you are controlling where exactly user will be returned), in example app [it is Auth method of Home controller](https://github.com/titarenko/OAuth2/blob/master/OAuth2.Example/Controllers/HomeController.cs#L56-L59) everything that provider returns is in `Request.QueryString`, [as you

[2016-11-21 15:32] #77 closed

[2016-11-21 15:33] #94 closed

[2016-11-25 21:45] kpocza commented on #42
Sorry, I've missed the requests for pr, as I see multiple times. Shame on me.
After reading my own comment I myself can understand it only partially. The API interfaces may have been changed in the last almost 3 years since then I raised the above issue.
However looking back to the project I was working on that time, I've found some evidences for some workarounds for exactly the same problem state

[2017-01-20 18:11] jaycdave88 opened #95 "Does this work for a console application?"
I am curious to see if there is a way to use the OAuth lib to generate an OAuth access token from within a console application. Which would prompt the user to login with credentials. Is this possible?

[2017-01-20 18:43] titarenko commented on #95
I think there is no such way to do so with this lib.

[2017-01-20 21:14] #95 closed

[2017-01-28 17:45] tngraf opened #97 "WindowsLiveClient crashes when wl.emails is not used"
When wl.emails has not been specified in the scope, Microsoft will not send any email data. Then the WindowsLiveClient crashes in ParseUserInfo().

[2017-02-03 15:03] niemyjski commented on #97
Where is it blowing up? We have the safe get there.

[2017-03-10 11:47] tynar opened #98 "Support for ASP.NET Core"
Support for ASP.NET Core

[2017-03-11 17:40] niemyjski commented on #98
We'd be willing to accept a pr for this

[2017-03-12 11:51] roysand opened #99 "Using OAuth2 in a Console application"
Hello

I'm going to implement a server side .net console application running on a Windows server. On schedule the program will send data to an server using OAuth2. Can I use OAuth2 library for this? If yes, do you have an example program?

[2017-04-03 15:51] chascos69 opened #100 "Compatible with VS2010?"
Hello
A lot of references missing in sample proj.. is normal?
Thx

[2017-04-03 18:40] niemyjski commented on #100
Do you get any specific errors? I'd recommend using the latest versions of vs as they have a free community versions?

[2017-04-21 14:32] donnytian opened #101 "Support for client credentials & resource owner password credential flow"
Hi,
Besides some well-known services that using a login page, "client credentials" and "resource owner password credential" flows are also common for custom OAuth v2 implementations.
Any plan to support for them?
Below is an example project I found there. It also support for X.509 client certificates.
https://github.com/IdentityModel/IdentityModel

Thanks,
Donny

[2017-06-08 21:06] #41 closed

[2017-08-05 16:28] zeuzere opened #103 "AsanaClient : Cannot access child value on Newtonsoft.Json.Linq.JValue"
Error in AsanaClient.cs

This error occure when you did not set a Profile Photo
Ligne 94-96   ... . response["data"]["photo"]**["image_36x36"]** ....

should be something like :
response["data"]["photo"].HasValue ? response["data"]["photo"]["image_36x36"].Value<string>(): null;

I tested and it work...

If someone can make the modification...
Thanks

[2017-08-10 15:07] niemyjski commented on #103
Can you please submit a pr

[2017-08-10 15:13] zeuzere commented on #103
I never did a PR, wil try this week-end...

2017-08-10 11:07 GMT-04:00 Blake Niemyjski <notifications@github.com>:

[2017-08-10 15:14] zeuzere commented on #103
Will be my first time!

2017-08-10 11:07 GMT-04:00 Blake Niemyjski <notifications@github.com>:

[2017-09-18 21:23] isaac2004 opened #105 "Yahoo Example does not work"
I just tried downloading your Example project Yahoo! does not currently work. When you put in Id and secret, run page, and choose Yahoo, you get taken to this

![image](https://user-images.githubusercontent.com/8878502/30565316-c24001c2-9c95-11e7-90b8-13d7c2c22a22.png)

I could not tell when you are doing wrong as the url looks the same as the sample on the Yahoo site, but I thought you should kno

[2017-09-19 10:45] ProNotion commented on #105
With Yahoo I think the only way I could test it end to end locally was by using something like [NGrok](https://ngrok.com) as Yahoo cannot communicate with your localhost. Hope that helps.

[2017-09-19 12:19] isaac2004 commented on #105
@ProNotiontha thanks for the response. I will take a look at that. Where is the documentation not supporting localhost?

[2017-09-19 12:22] ProNotion commented on #105
Like you, I found that out just by trying it but you can Google the problem as there are plenty of others with the same issue.

[2017-09-19 13:02] isaac2004 commented on #105
@ProNotion I still get the same issue after using ngrok... Did you need to setup the App to use the ngrok url as a callback?

[2017-09-19 13:13] ProNotion commented on #105
Yes, that is the point of using it so that your localhost is accessible to
Yahoo for the callback to succeed.

Simon

On 19 September 2017 at 14:02, Isaac Levin <notifications@github.com> wrote:

--

Simon Dingley

Director & Developer, Prolific Notion Ltd
01752 349734 / 07813 793706
http://www.prolificnotion.co.uk

[2017-09-19 13:38] isaac2004 commented on #105
@ProNotion thanks for the help, got it working... Bummer this is so much of a pain

[2017-09-19 13:38] #105 closed

[2017-09-19 17:19] isaac2004 opened #106 "Extending One of the Clients"
What is the best approach to extend one of the clients? I am only going to be using YahooClient and have a handful of Api calls I want to add. Should just inherit from YahooClient?

[2017-09-21 17:00] isaac2004 opened #107 "Saving the token somewhere"
It looks like if you refresh the auth page after getting the token gives you an exception because the AccessToken/RefreshToken isn't being saved on subsequent calls. Should the token be stored somewhere so these calls don't need to request the token again?

[2017-10-06 13:53] #100 closed

[2017-10-06 23:04] niemyjski commented on #99
We do not have an example app but would accept a pr for one that runs on .net core

[2017-10-06 23:04] #99 closed

[2017-10-06 23:05] niemyjski commented on #98
I just merged in support for .net standard 2.0. Can you please check the build server for artifacts and let us know if you have any questions or issues.

[2017-10-06 23:05] #98 closed

[2017-10-06 23:06] niemyjski commented on #97
Fixed in the previous commit

[2017-10-06 23:06] #97 closed

[2017-10-06 23:07] niemyjski commented on #107
Did you end up finding a solution for this? I'm not sure if this is something that we should be saving. Our api calls are pretty stateless

[2017-10-06 23:07] niemyjski commented on #106
I'd either inherit or copy the source and change it up how you want. What did you end up doing?

[2017-10-06 23:08] niemyjski commented on #103
@zeuzere did you have any luck on fixing this issue?

[2017-10-06 23:27] zeuzere commented on #103
I know how to fix it,
Did not have the time to fix it yet...

I just put an image profil for now  in Asana to make sure is not throwing
Exception...

Ps.
I love Oauth2, it just work...
Been able to inherit from  GoogleClient give me the chance to add the
optionnal parameter access_type=offline that i needed, and it was easy to
set it up...

I will try soon  to make a pull request,  have no choice,

[2017-10-06 23:55] isaac2004 commented on #107
@niemyjski you can add some state using MVC, that is what I did.

[2017-10-06 23:56] isaac2004 commented on #106
@niemyjski stripped out the Yahoo provider  and extended it to my needs. Worked well

[2017-10-17 09:10] daltskin opened #109 "Guidance for migration from AuthorizationRoot"
Now that the project has been migrated to .NET Standard 2, is there any guidance on how to migrate code that was using AuthorizationRoot?

[2017-10-17 11:28] niemyjski commented on #109
I haven't really thought on it too much, but it would be nice to have something based on the new configuration model that Microsoft provides. Would be really nice to have a pr for this. The old configuration model just was a serious PITA to port and would of made this library windows only even through it was .net standard 2.0. If we can make a typed model IAuthSettings or something like that we co

[2017-10-17 11:29] niemyjski commented on #109
This is something we'll need to address before 1.0 If you have any feedback or ideas please let us know. I know it's not ideal but this change had to happen at some point as the old configuration is dead and we are not to a 1.0 yet.

[2017-10-17 14:18] daltskin commented on #109
The typed model idea sounds good, as long as there is an example of how to implement it.  The old MVC sample app really helped understanding.

[2017-11-07 13:18] niemyjski commented on #98
@titarenko  We just pushed an updated build with official restsharp support.

[2017-11-14 14:59] LVG5Pelican commented on #78
Have any other resources available? The above resource has been removed

[2017-11-14 15:01] niemyjski commented on #78
I've updated the link

[2017-11-14 15:02] LVG5Pelican opened #110 "Any additional resources/documentation available?"
I'm fairly new to Oauth2 - are there any further resources available that I can look at? Maybe a sample implementation somewhere?

Can I use this to implement authorization grant in the asp.net framework?

[2017-11-15 04:14] sarjarapu commented on #110
I second the request.

The readme file says - "simplicity in usage - so even newbie can just call ... , well-documented ". I would love to use your lib, but could barely move forward with either GoogleClient and / or CustomClient. Having simple either of these examples in docs would help lot more people to use this lib.

I tried to digest the mock Tests for further understand, but not sure where y

[2017-11-15 14:36] niemyjski commented on #110
We'd really love some user contributed docs from end users. You could take a look at my application in how were use it (https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Api/Controllers/AuthController.cs).

[2017-11-27 10:34] mikkeljohnsen opened #111 "Could you please Strong sign the DLL in Nuget"
Could you please Strong sign the DLL in Nuget

[2017-11-27 10:57] mikkeljohnsen opened #112 "Compile on Linux"
Please rename:

Client/Impl/LinkedinClient.cs to Client/Impl/LinkedInClient.cs (See capital "I")
.nuget/NuGet.targets to .nuget/nuget.targets

This is msbuild on Linux.

[2017-11-27 12:14] mikkeljohnsen commented on #112
Can see this has been fixed. I used the release

[2017-11-27 12:14] #112 closed

[2017-11-30 01:28] MrSong0607 opened #113 "RestSharp version issue"
when i update RestSharp to latest stable 106.1.0 in nuget,i got this error:
`The type 'IRestResponse' is defined in an assembly that is not referenced. You must add a reference to assembly 'RestSharp, Version=105.2.3.0, Culture=neutral, PublicKeyToken=null'`
how can i upgrade RestSharp version

[2017-11-30 13:49] niemyjski commented on #113
You'll need to add a binding redirect or use the latest nightly build on nuget. Please let us know if you have any questions.

[2017-11-30 13:49] #113 closed

[2017-11-30 13:50] niemyjski commented on #111
Can you please submit a pull request for this.

[2017-12-01 01:15] MrSong0607 commented on #113
I added the node to app.config,but i get the same error too
[code]

[2017-12-01 18:34] niemyjski commented on #113
You are probably missing the strong name public key token. Also if you are running on .net core I don't think you can do assembly redirects like this anymore.

[2017-12-04 01:28] MrSong0607 commented on #113
i'm using .net framework 4.6.1,and i change the config to
[code]
i get the above error too

[2017-12-04 14:36] niemyjski commented on #113
I'm not sure, I'd recommend bringing up the issue with RestSharp via GitHu
or use the latest nightly build here which targets the 106.1 assembly

Thanks
-Blake Niemyjski

On Sun, Dec 3, 2017 at 7:28 PM, MelodySong <notifications@github.com> wrote:

[2018-02-01 18:55] ccrickx opened #114 "WebRequest Timeout"
Hi,

It seems that you don't allow to specify the default WebRequest timeout.  I've checked the RestSharp source code and they provide a Timeout paramter. Could you add that to OAuth2 code ?

Awesome library btw ;-)

[2018-03-03 11:56] #106 closed

[2018-03-03 11:57] #107 closed

[2018-03-03 14:10] ProNotion commented on #107
@isaac2004 Would you mind sharing some detail on your solution please?

[2018-03-03 15:12] isaac2004 commented on #107
@ProNotion I ended up storing the token in a service and handled passing and refreshing using DI. I will add some code to this if I remember.

[2018-03-10 15:28] jaayb opened #115 "using in local app"
how would you handle using this in a local winforms app as far as redirect uri?
Thanks

[2018-03-13 12:20] niemyjski commented on #115
We currently don't have a sample of this and I've never had to do this but I'd recommend seeing what others are doing: https://stackoverflow.com/questions/22870231/is-oauth-possible-for-c-sharp-windows-application and https://blogs.msdn.microsoft.com/rgregg/2014/10/02/easy-msa-oauth-in-windows-forms/ If you find the solution please update this issue / feel free to submit a sample in a pr.

[2018-03-13 12:20] #115 closed

[2018-04-04 06:31] lucky-ly opened #116 "VkClient is outdated"
VkClient doesn't work since Feb 1 2018 because since then **v** (api version) parameter is required for api calls.
And the api call used for retrieving user data is outdated too - **uids** parameter is unknown now, **user_ids** should be used instead.

[2018-04-04 13:27] niemyjski commented on #116
Can you please submit a pr for this.

Thanks
-Blake Niemyjski

On Wed, Apr 4, 2018 at 1:31 AM, Dmitry Svechnikov <notifications@github.com>
wrote:

[2018-04-09 12:11] #116 closed

[2018-04-09 12:11] niemyjski commented on #116
Thanks for the PR!

[2018-04-30 08:47] SamuelDebruyn commented on #110
+1, both the readme and the NuGet say "well-documented" while this project has no documentation whatsoever

[2018-04-30 12:08] niemyjski commented on #110
This is an open source project provided to you all at $0. Please give back to the community and others by helping with the documentation. All pr's or wiki edits are greatly welcomed.

[2018-04-30 12:08] #110 closed

[2018-04-30 21:47] SamuelDebruyn commented on #53
Working on a PR for this. I have some questions regarding breaking changes and backwards compatibility. Right now I'm providing async alternatives for the existing methods, but because some of them are `virtual`, this means some code is duplicated. Should I remove the non-async methods?

[2018-05-01 13:29] niemyjski commented on #53
Yes, I vote to remove the non async methods.

[2018-05-30 13:29] FrancescoMiconi opened #120 "Example of login Google"
Where can I find the example? Thanks

[2018-06-19 09:41] Sbaia commented on #111
Normally strong signing is done in NuGet deploy procedure, to avoid to commit pfx and password in repository.

[2018-07-06 02:43] stevomccormack opened #122 "MVC Unity Dependency Injection and Authorization Root (no clients), Do we have to use Authorization Root??"
Have been struggling to get clients to load configuration from web.config.
I assume it is Dependency Injection issues with Unity.

1) AuthorizationRoot - is not well formed when loaded using DI. It has configuration settings loaded but has no clients.
I'd prefer not to use AuthorizationRoot.

Are we able to load configuration manually?

Cheers.
Steve

[2018-07-07 21:44] #122 closed

[2018-09-28 08:17] wendt88 opened #123 "exception of type: OAuth2.Client.UnexpectedResponseException"
I get that exception for linkedin:
[code]
app key & secret checked. I am also able to get to linkedIn, make a successful login and the redirect goes back to my page and failes on `Client.GetUserInfo(Request.QueryString);` with query paramters `code` & `state`

I wan't able to add that project to mine for debugging

[2018-10-15 19:39] segurofacildeveloper commented on #120
there's some example in old versions... but new version based on .netcore not have any examples...
old version also has a implemented version that you can configure all provider in web.config file...

[2018-10-15 19:45] segurofacildeveloper opened #124 "yahoo always ask for permissions when user login"
I implemented yahoo provider in a test project.
When user login first time, yahoo prompt for security acceptance... but when user logoff and login again, yahoo prompt again for user permissions...

why this is happening?

Thanks.

[2018-10-15 19:51] segurofacildeveloper opened #125 "Yahoo email retriever social API"
Yahoo not show email permission to all new users and projects...
so, social API put email on other scope...

I used this code to retrieve principal email from yahoo's response.
Maybe this help your API, or not, i posted to try to help.

YahooClient.cs

            if (string.IsNullOrEmpty(userInfo.Email))
            {
                try
                {
                    userInfo.Email = resp

[2018-11-08 16:37] niemyjski commented on #123
Were you able to resolve this? I just started hitting this as well.

[2018-12-05 09:19] tomasr78 opened #127 "Library use old CommonServiceLocator version"
The OAuth2 library use CommonServiceLocator 1.3 version of service locator and binds to Microsoft.Practices.ServiceLocation assembly.

The CommonServiceLocator 2.0 do not have such assembly anymore, are you planning to update?

[2018-12-05 13:59] niemyjski commented on #127
I'm not sure where you are seeing this. I don't see a single dependency on any DI framework or uses service locator pattern.

[2018-12-05 14:08] tomasr78 commented on #127
The OAuth2 throw exception on initialization at

`  var authorizationRoot = new AuthorizationRoot();`

[2019-02-21 21:34] moh-hassan commented on #120
Can you provide us with a simple getting start guide in the readme page?

[2019-02-22 00:54] niemyjski commented on #120
Yeah, I'm really sorry about that. I broke quite a bit and don't have time to update the docs. I can point you to code that is using google :) https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Web/Controllers/AuthController.cs#L290

[2019-06-24 07:54] Ealireza opened #128 "documention"
hi every body

is there any documentation for god satisfaction ?
i cant find any document for this class , i dont know what is , and where is ..
please send documentation or .
need to know how to use it :|

[2019-06-24 11:34] niemyjski commented on #128
I just merged a pr that added a sample to the readme

[2019-06-24 11:35] #128 closed

[2019-06-24 11:36] #127 closed

[2019-06-24 13:37] Ealireza opened #129 "Instagram Problem"
I tried Google ,.. They seams be okey
but Instagram not working

i get code , but on verification , it failed.

after checking response from sent request i seen this

[code]

`{"error_type": "OAuthException", "code": 400, "error_message": "Matching code was not found or was already used."}`

it's Instagram problem?
or some thing else

any solution ?

[2019-06-25 12:11] niemyjski commented on #129
Hello,

I'm not sure, you should remove your secret and client id (even refresh
those as you just leaked them). I'd recommend stepping through the calls or
look at them in fiddler. It looks like the code was already used, was
multiple calls using that specific code?

Thanks
-Blake Niemyjski

On Mon, Jun 24, 2019 at 8:37 AM Ealireza <notifications@github.com> wrote:

[2019-06-25 17:04] Ealireza commented on #129
this is my code

[code]
the code that passed to this route , is okay .
i tried that code with curl , and it working .

but i suspicious to GetUserInfoAsync method of Instagram.

it seams that method send request to Instagram multiple time and cause of error and exceptions .
because Instagram only allow one time to get user info and expire token

[2019-06-26 12:15] niemyjski commented on #129
You're callback is going to send back the grant_type as a query string parameter that's going to get lost is one issue. Can you import the source and step through it.

[2019-06-26 12:30] Ealireza commented on #129
possible send correct code ?
i dont know what to do

[2019-06-27 15:16] niemyjski commented on #129
I'd start by pulling in our source code and stepping through it.

[2019-07-24 08:42] Ealireza commented on #129
dear sir after a mount i come back here , to check is it work or not

still have problem with Instagram user info

[code]
any way to fix ?

[2019-07-28 11:02] niemyjski commented on #129
I'd clone and reference the project and step through the call. I'd look at the returned json and look at what we are serializing it into. I think that will lead to this error and we can get to what's causing it. I don't use instagram, and we are both developers using this open source project, your help is appreciated.

[2019-08-15 15:23] mikkeljohnsen commented on #111
Not an issue for us anymore. Have stopped adding to GAC

[2019-08-15 15:23] #111 closed

[2019-08-23 11:01] niemyjski commented on #111
We could add it and I'm fine with including the key right in the repository because it's absolute joke and the general consensus is that it's ok (I'm pretty against strong naming). If you need it again let e know and I can add it to the next minor release.

[2019-09-18 02:43] Acqurius opened #130 "Can Support Amazon (Login in Amazon)?"
OAuth2 can Support Amazon (Login in Amazon)?

[2019-09-18 12:35] niemyjski commented on #130
Hello,

We don't support amazon but you could add a client for it. We'd accept a pr for this.

[2019-09-18 12:35] #130 closed

[2019-11-02 20:59] korneliuscode opened #131 "Initialize Client from stored token"
I wonder how I can initialize a client given a stored token (e.g. from database)? Is there an example illustrating this?

[2019-11-12 13:35] niemyjski commented on #131
So you are basically wanting to use a stored token (like a refresh token) and use that to reinitialize the client? I don't know if we have any examples of that but it should be possible.

[2020-01-30 17:19] KiransHub commented on #120
Still and example would be appreciated.

[2020-01-30 17:22] KiransHub opened #133 "Example config for .net core"
Your examples in the readme are outdated.

Can you please provide an example of a appsettings.json config for .netcore?

[2020-01-31 16:51] niemyjski commented on #120
Would you mind creating one and submitting a pr. I've linked to a real life example

[2020-01-31 16:51] niemyjski commented on #133
Would you mind creating an example and updating the readme.

[2020-02-01 11:33] KiransHub commented on #133
@niemyjski I would love to help but unfortunately I require the config because I can't get it working.

[2020-02-01 11:34] KiransHub commented on #133
I will take a second look at your solution I mean that be able to figure it out from there. If I do I will update it.

It would be a lot easier if you could do it though as you know the project infinitely better than I.

[2020-02-02 18:23] KiransHub commented on #133
Nope sorry... I've given up with this library... the documentation is out of date.

[2020-02-04 19:22] niemyjski commented on #133
We're all developers here and this is an open source project... I don't have time right now or anytime in the immediate future to update this readme. Your help would be greatly appreciated.

[2020-02-04 21:32] KiransHub commented on #133
I feel like a stuck record here... As I said I can't figure it out because your docs are out of date.

If you don't want to maintain your own reader then don't worry about it. Just close the ticket.

[2020-02-04 22:46] niemyjski commented on #133
I'll try and update it, it's just a really long list on many projects and I don't use this project in that way... I drive it via code and not configuration which is mostly why it's not documented.  I try my best to help the community, but I would love if sometimes the developer community would give back as well. I get things might not always be easy but it's a great way to dig in, learn the librar

[2020-02-04 22:51] niemyjski commented on #133
With that said, I do feel bad if I came across negatively, it's one of those days. I did dig into this just now, it looks like we (probably I), removed the ability to read and populate providers from configuration when we moved to .NET Core as it wasn't supported via the configuration manager. There looks like there is still an old and unused xml settings file here: https://github.com/titarenko/OA

[2020-02-05 09:26] KiransHub commented on #133
No you didn't come across negatively at all. I was just desperately trying to get this working. I apologise that my frustration surfaced in my message.

I thought it needed to be config based as (from the top of my head) what I was doing required an IConfigSection in your code.

I can't quite remember exactly what it was now. I opted to do it manually from scratch.

Eventually I gave up my project

[2020-03-26 10:30] Petje1972 opened #134 "Using OAuth2 in winforms project"
Hello,

I am trying to use the OAuth2 in a winforms project, but your goal (simplicity in usage - so every newbie can..) does not work here.
After installing the OAuth2 using Nuget and copying the sample code into the solution VS raises a lot of errors. Am I missing something?

Grtz Patrick

[2020-04-20 13:47] niemyjski opened #135 "Update GitHub OAuth Client"
https://medium.com/swlh/github-api-oauth-in-2020-43944bdc8ab6

[2020-04-20 13:48] niemyjski commented on #134
What sample code are you copying? We don't have very many examples here mostly only for asp.net

[2020-07-02 17:11] plixxer commented on #86
This post seems to be abandoned can we close this.

[2020-07-02 17:14] #86 closed

[2020-07-02 17:14] #9 closed

[2020-07-02 17:15] #35 closed

[2020-07-02 17:15] #42 closed

[2020-07-02 17:15] #45 closed

[2020-07-02 17:16] #60 closed

[2020-07-02 17:16] #63 closed

[2020-07-02 17:16] #69 closed

[2020-07-02 17:19] plixxer commented on #135
Can you add a brief summary on the issue you are facing? you have only added a link to a tutorial

[2020-07-02 17:21] plixxer opened #136 "Support for"

[2020-10-02 12:45] stefanveliki opened #137 "Help Wanted - Twitter - I can't authenticate you"
Hi everyone,

I have a Twitter app which works just fine right now.
I tried your code using the same credentials but I get an "Unexpected Response -> I can't authenticate you" error.

Has anyone else experienced the same thing? I have the feeling we are missing either a header or something is malformed.

Any ideas, thoughts.. whatever... will be highly appreciated. I don't expect anyone to write a

[2020-10-02 13:22] niemyjski commented on #137
I'm not sure, I'm not using the twitter oauth but if you could dig into it that would be awesome.

[2020-10-02 13:23] niemyjski commented on #136
Hello, I'm not sure what you are asking as there is nothing in the title nor body.

[2020-10-02 13:23] #136 closed

[2020-10-02 21:19] bitbodrit commented on #135
Hi, need to update github client to the way it is described in the article, am I right?

[2020-10-02 21:40] niemyjski commented on #135
I believe so, the GitHub docs has more information. Thank you!

[2020-10-15 00:59] c3sxr commented on #114
Hi I'd like to help on this issue if it's still available :)

[2020-10-15 20:06] niemyjski commented on #114
That would be awesome. Can you make it optional or maybe a config setting?

[2020-11-09 15:30] niemyjski commented on #135
Looks like there could still be an issue here.

[code]

[2020-12-02 06:44] sivagithub-pk opened #140 "Exception of type 'OAuth2.Client.UnexpectedResponseException' was thrown. when retrieving User info from Linked In"
Hi,
I am using OAuth2 to implement the SSO for Google, Facebook, and LinkedIn. Google and Facebook I am able to log in and read the user profile info but for LinkedIn, I am able to get the authorization code but when I call method to get the User info I am getting the exception as **Exception of type 'OAuth2.Client.UnexpectedResponseException' was thrown.**
below is my code snippet
 **ServicePoint

[2020-12-02 22:58] niemyjski commented on #140
Could you step into this and see if you can debug this call. I don't use linked in, but form what you posted it sounds like the json response is different than what we are expecting.

[2020-12-03 17:25] sivagithub-pk commented on #140
Hi @niemyjski ,

I have fixed this issue.
the reason why it's throwing the exception is,
1. The Linked in is not supporting API version V1.
2. The response JSON is different.

I have fixed this issue by customizing the LinkedInclient File that will point to the API version V2.
**Existing LinkedIn client file. that points to API version V1**

using System;
using System.Threading;
using System.Threa

[2020-12-03 17:25] #140 closed

[2021-01-05 02:51] armw4 commented on #133
Yah - it's definitely not easy to maintain a project without additional support. Yes f course everything falls on the core maintainers but eventually it's not fair when we're all benefiting. I applaud the React.js deca for soliciting the involvement of others even when they knew for sure they could be the ones resolving issues. Same team same dream fellas.

[2022-08-14 08:43] Biztactix-Ryan opened #145 "Integration for Microsoft Azure Login APIs"
I see you have windows live integration working, which is great, however if you're looking for business registrations not just Personal Microsoft Accounts... then you need Microsoft Azure

I've modelled up the basics for an AzureClient, however I'm repeatedly getting and UnexpectedResponseException,
Seems to be throwing an error at the rest response, I know it's returning a 200 Ok, as I've tested

[2022-08-22 11:24] Alxdhere opened #146 "VkClient return error"
Need to change line:

args.Request.AddParameter("v", "5.74");

5.74 is not supported now. 5.81 is correct value.

[2022-08-22 13:53] niemyjski commented on #146
Can you please submit a pr

[2022-08-22 14:15] Alxdhere commented on #146
Excuse me, what is "pr"?

[2022-08-22 15:31] niemyjski commented on #146
Pull request, also do you have any documentation for the supported versions and api changes?

[2022-08-23 05:13] Alxdhere commented on #146
I don't have documentation.
I tried to get information about the user using VkClient in the same way as I received information using GoogleClient. But there was an exception.
Then I decided to make requests to the api myself:

        UriBuilder accessUriBuilder = new UriBuilder("https://oauth.vk.com/access_token");
        NameValueCollection accessQueries = HttpUtility.ParseQueryString(accessUri

[2022-08-24 12:38] niemyjski commented on #146
Thanks for that, if you want to submit a pull request to change the version that would be greatly appreciated.

[2022-09-26 08:26] newsome2015 opened #147 "谷歌登录有bug"
有些账号登陆不能返回given_name，family_name，用户信息获取时需判断一下

[2022-09-26 12:53] niemyjski commented on #147
Hello,

I'm not sure what you are asking for, can you please rephrase your question in English.

[2022-10-29 14:28] justinharrell commented on #145
I have this working you need to check the response from GetUserInfoAsync, there could be various issues and may be reported in there. I am using v2.0 so /common/oauth2/v2.0 instead scope needs to be "openid profile email" and you need to set Bearer token correctly on graph call:

protected override void BeforeGetUserInfo(BeforeAfterRequestArgs args)
		{
			args.Client.Authenticator = new OAuth2Aut

[2022-10-30 11:06] niemyjski commented on #145
@justinharrell would you mind providing a pr and also update the readme? Do you think we need extra configuration for this specific configuration or this should be the default?

[2022-10-31 11:56] justinharrell commented on #145
I have forked the codebase signficantly at this point removing the RestSharp dependency going to just HttpClient since very little of RestSharp is being used so a PR wouldn't make sense.

I would say going with V2 is probably the way to go, you could have two different clients if you want for v1 vs v2. One thing that probably does need configuration is the tenant ID which replaces the /common/ in

[2022-10-31 12:16] niemyjski commented on #145
@justinharrell We would be open to a pr that removes rest sharp :).